/*
 * AnuDaw by Nyek! Pinoy Komik Fonts
 * https://www.fontsquirrel.com/fonts/anudaw
 */
@font-face {
  font-family: AnuDaw;
  src: url('/includes/assets/fonts/anudaw/anudaw-regular.woff2') format('woff2'),
    url('/includes/assets/fonts/anudaw/anudaw-regular.woff') format('woff');
}

/* Use consistent box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  /* Center content in viewport */
  grid-template-columns: 1fr minmax(min-content,33ch) 1fr;
  /* Make the main content fill available vertical space */
  grid-template-rows: max-content minmax(calc(100vh - 7em),1fr) min-content;
  /* Make body fill viewport */
  height: 100%;
  min-height: 100vh;
}

/*
 * Layout
 */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-center-column {
  background-color: #fff;
  grid-column: 2;
}

/* Mimic the appearance of a receipt for ledger items */
p.grid {
  grid-template-columns: 1fr min-content minmax(12ch,max-content);
  justify-items: end;
  align-items: center;
}

.padding {
  padding: 1vmin;
}

.no-margin {
  margin: 0;
}

/*
 * Element styles
 */
h1 {
  font-family: Anudaw;
  font-size: 2em;
  margin: 2vmin 0;
}

h2 {
  font-size: inherit;
}

main {
  min-height: 100%;
}

a,
.tomato {
  color: tomato; /* A flavorful color */
}

/*
 * Form styles
 */
form {
  width: 100%;
}

/* Use page styles, not system styles */
button,
input {
  background-color: inherit;
  border: inherit;
  font-size: inherit;
  font-family: inherit;
}

input {
  border-bottom-width: 0.45vmin;
  border-bottom-style: solid;
  border-bottom-color: bisque; /* A flavorful color */
  margin-bottom: 3vmin;
  width: 100%;
}

/* Format currency */
input.monospace {
  text-align: right;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/*
 * Typography
 */
sup,
.monospace {
  font-family: monospace;
}

.monospace {
  font-size: 1.125em;
}

.x-small {
  font-size: x-small;
}

.text-center {
  text-align: center;
}

/* Receipt tape edge */
header,
footer {
  position: relative;
}

header:before,
footer:after {
  content: "";
  position: absolute;
  height: 15.9px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='73.105' height='15.9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15.9v-16l7.31 5 7.311-5 7.31 5 7.311-5 7.31 5 7.311-5 7.31 5 7.311-5 7.31 5 7.311-5v16z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 16%;
  background-repeat: repeat-x;
  z-index: -1;
}

header {
  top: 5px;
}

header:before {
  top: -5px;
  left: 0;
}

footer {
  top: -5px;
}

footer::after {
  top: 5px;
  left: 0;
  transform: rotate(180deg);
}

@media screen and (max-height: 380px) {
  /* Use smaller fonts on smaller screens */
  h1 {
    font-size: inherit;
  }

  .monospace {
    font-size: medium;
  }
}

@media screen and (min-height: 381px) and (min-width: 600px) and (min-aspect-ratio: 16/9){
  /* Scale font on larger screens */
  html {
    font-size: 2.75vmin;
  }
}

body {
  background-color: #3f2a15; /* dark brown */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 464.23 474.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.38.73c.058 31.59-4.762 64.488 6.634 94.808-.715-28.068.583-56.128.781-84.127-.525-4.045-1.707-11.697-7.415-10.68m-5.57 473.36c.082-35.035-4.874-72.703 12.383-104.84.845 33.332-4.201 66.35-7.408 99.376-.594 2.334-1.976 5.598-4.975 5.465m12.38-213.58c-19.824 68.286-24.03 140.39-20.89 211.02 7.387-3.915 1.331-38.034 4.146-53.156 1.308-36.454 4.21-73.168 14.665-108.25 2.668-16.406 1.735-33.082 2.08-49.626M440.64.93c.575 40.958-.387 82.221 4.713 122.88 4.518 17.22 17.812 31.668 17.841 50.171 2.282-21.392 1.482-43.089-9.82-62.06-4.245-33.09-4.032-66.714-5.858-99.99-.87-3.802-1.449-11.399-6.876-11M426.93.728c-.774 41.546 4.176 84.802-9.548 124.78-16.452 32.25-23.225 68.41-22.185 104.46-.47 29.734 5.148 59.751 20.034 85.745 16.066 41.067 9.451 86.176 12.546 129.16-2.583 9.357 3.489 45.731 6.14 19.256-1.475-58.768 6.845-120.37-16.893-176.04-12.337-29.013-16.642-61.447-8.286-92.17 9.627-40.426 26.795-79.735 24.938-122.13-1.578-23.415 2.205-54.3-3.961-73.068h-2.786m-194.75 473.24c-1.032-11.334-.078-42.574 4.115-40.13-.731 12.651 4.885 30.324-4.115 40.13zm-13.71-.2c-1.875-43.641-5.353-87.342-.89-130.97 1.933-26.646 7.037-54.195 22.56-76.549 29.35 34.255 34.026 82.739 29.101 125.9-4.574 27.192-16.486 53.754-13.183 81.816-21.21-.066-9.94-32.581-9.448-46.8 10.103-24.627 23.156-50.052 18.37-77.621-2.507-17.709-12.785-46.329-25.114-51.513-20.609 33.481-21.646 75.07-13.793 112.59 1.063 21.037-3.676 42.018-2.122 63.144h-5.482M400.659.728c.56 59.245-2.934 118.76-16.493 176.6-11.046 50.317-11.873 103.98 7.042 152.59 12.72 37.007 18.767 76.323 14.719 115.39-2.944 9.714-.15 43.722 6.123 20.247.787-50.477 2.656-101.94-8.64-151.48-25.768-67.295-10.778-140.28-2.37-209.38 2.777-32.973 9.621-66.509 4.415-99.46-.66-2-2.133-4.943-4.797-4.498M384.738.73c3.621 57.638 2.38 116.13-12.343 172.29-15.042 73.404-6.074 148.92 4.55 222.27 2.486 26.162 5.463 53.317-1.758 79.005 29.977 7.167 13.305-32.73 16.072-49.11-4.051-59.8-23.594-117.94-21.324-178.33-.527-54.498 16.01-107.17 17.94-161.5 1.567-26.653 4.783-53.4 5.224-79.974-.464-3.783-4.895-6.075-8.36-4.645m-45.19.193c-.015 104.24-1.909 208.6 5.573 312.67 1.954 53.4 4.045 108.47-12.386 160.01 24.483-.767 9.398-38.277 15.241-55.1 4.825-112.25-1.842-224.56-1.052-336.85-.31-26.486-.105-53.268-.73-79.56-1.41-2.196-4.603-1.593-6.647-1.171m-46.17.002c.74 78.828-5.243 159.48 18.134 235.97 19.028 70.6 14.802 145.04 2.027 216.3-2.286 8.114-10.547 31.2 2.034 13.455 8.89-30.21 11.02-62.17 13.74-93.472 3.507-63.235-4.294-126.42-16.703-188.33-6.999-53.071-11.41-106.57-13.118-160.07-.405-7.1 4.59-22.571-6.115-23.853M263.748.725a4196.93 4196.93 0 0 0 3.364 164.2c.742 24.415 12.567 45.85 24.206 66.543 29.764 64.112 23.443 137.38 12.975 205.22-.177 9.624-18.007 49.5-1.459 29.75 13.63-38.69 11.44-80.84 12.76-121.3-1.65-35.985 3.274-74.607-14.412-107.59-12.133-21.358-20.806-44.463-23.407-69.019-6.62-50.44-2.86-101.48-5.784-152.18.695-6.054 2.746-19.489-8.242-15.638m-22.291 155.41c-.735-51.803-1.473-103.61-2.21-155.41 12.108 13.214 1.178 40.274 5.175 58.888.34 34.53.676 69.06 1.014 103.59l-2.064-3.512-1.915-3.558m-39.8 317.62c-4.158-66.364-4.214-133.56 9.243-198.94 5.542-18.029 13.845-52.058 32-53.238 40.458 28.07 48.635 81.25 45.733 127.01-1.543 32.49-2.829 65.908-14.83 96.528 2.556 10.631-12.754 43.825-9.416 18.085 10.075-56.475 31.18-116.11 9.051-172.52-7.38-16.97-21.312-47.596-35.34-49.437-34.514 58.821-28.293 129.38-34.25 194.76-5.235 10.321 8.64 37.575-2.189 37.743m98.18-187.32c-2.118-33.057-29.355-54.369-40.975-83.3-8.531-16.94-13.426-52.125-16.44-60.03-4.78 40.161-27.222 74.67-43.14 110.87-13.767 42.864-11.289 88.627-15.489 132.98-.894 28.822-3.213 58.304-1.175 86.786 11.693-15.104 3.544-47.416 8.048-69.083 4.011-53.486 6.001-108.33 23.554-159.47 9.352-23.98 23.32-46.81 25.919-72.898 4.32 35.351 30.795 60.942 45.589 91.706 16.449 40.68 13.357 86.188 9.775 129.02-1.26 26.576-21.941 59.841-16.427 81.055 6.64-19.702 10.299-42.987 16.25-64.325 8.48-40.527 8.345-82.254 4.511-123.32m-134.09 187.33c1.916-74.584-8.349-152.15 17.965-223.73 12.278-21.412 21.426-44.249 27.17-68.282 18.975-57.067 8.984-117.73 12.295-176.57 7.526-12.858 2.435 18.492 3.686 25.998-.346 53.001 4.409 107.05-11.4 158.52-8.423 34.444-32.866 63.524-34.552 99.923-3.71 46.957-3.015 94.177-6.289 141.19-3.834 12.103 7.953 39.37-8.874 42.936m-18.57.21c.39-63.306-2.059-126.81 3.095-189.96 2.505-43.558 30.145-79.008 43.217-119.28 11.32-47.823 15.627-97.09 19.41-145.99-3.139-10.355 4.22-28.62 3.142-7.882-3.367 71.852-9.507 145.4-36.639 212.7-17.294 30.271-16.045 66.183-20.56 99.738-4.034 50.045-3.58 100.35-1.229 150.47l-5.25.32-5.187-.12M1.25 318.722c12.323 35.314 12.667 74.794.09 110.09-.002-36.696 1.207-73.403-.09-110.09zm.796-151.5c-.053-17.01-.942-65.678-.447-62.702-.705 23.364 15.106 58.425 21.607 69.679-5.469-5.302-13.433-9.236-21.159-6.978m-.796 91.841c30.638 29.334 26.175 75.192 28.184 113.94 1.284 32.293 5.08 69.297-16.122 96.352-25.697 12.325 1.278-26.607 2.3-38.059 16.193-52.317 1.743-107.83-14.987-158.02-.292-4.766.748-9.464.624-14.226m46.258 214.88c8.072-57.659 3.905-116.27-1.589-173.95-3.874-28.552-16.136-60.173-44.58-72.152 6.091 19.425 30.893 32.881 32.847 57.292 15.06 51.498 9.957 105.81 8.098 158.63 4.216 19.064-28.182 35.936 5.224 30.18M1.25 183.37c29.425 10.276 35.823 45.017 44.624 71.167C65.249 325.937 64.62 400.596 69 473.916c-11.174-15.494-3.166-41.807-7.745-61.485-4.474-63.133-3.79-130.02-34.612-187.19-4.884-17.837-33.006-21.093-25.392-41.866m80.926 290.55c1.468-77.13-4.663-154.96-23.078-229.99-9.885-33.389-23.278-68.408-52.857-89.326-11.753 3.457 6.655 22.26 16.838 25.951 18.43 20.616 24.939 48.912 32.325 74.89 15.005 68.178 20.36 138.22 18.796 207.89.306 4.346 1.99 12.1 7.976 10.584m18.658.341c4.009-80.342-3.829-161.85-26.951-239.01-14.476-35.859-39.769-67.28-46.283-106.25C17.938 87.037 13.855 43.733 15.663.705c-12.93 12.088-1.03 38.65-2.9 56.276 3.715 48.102 14.267 95.834 35.598 139.34 38.428 74.663 38.818 160.44 42.266 242.29.944 10.226-5.483 35.328 10.208 35.656M45.031.507c5.444 65.184 14.688 131.57 41.844 191.6 21.575 26.075 31.875 59.08 40.5 91.263 6.273-58.578 42.372-108.22 54.365-165.4 9.015-35.543 15.457-72.102 14.973-108.84 9.507-18.635 1.008 31.264 1.24 42.335-4.659 41.047-9.646 82.93-24.755 121.63-21.954 41.372-34.234 87.264-37.381 133.94-4.47 55.534-.59 111.26-1.807 166.88-24.24-7.005-3.736-45.584-10.981-64.84-2.673-42.533 1.79-85.657-5.705-127.79-12.368-49.379-43.677-91.568-56.358-140.95C46.306 95.221 41.218 47.772 39.813.554l5.218-.068m34.494.416c2.844 44.863 16.531 90.523 46.964 124.57 26.004-21.155 28.184-57.749 34.86-88.216.862-8.578 8.356-42.745.817-32.769.855 40.096-14.128 78.978-35.678 112.24-24.55-27.4-35.33-63.638-40.831-99.26-1.872-5.288-1.784-12.59-6.133-16.555M72.537.705c2.378 52.535 14.191 108.78 53.067 146.99 41.992-36.13 43.646-95.708 47.76-146.79-9.516 23.815-3.954 55.026-14.526 80.557-7.067 17.821-18.109 51.43-36.374 52.852-33.29-25.737-36.15-70.485-42.81-108.74-2.097-8.19-2.124-17.927-7.117-24.872M59.625.705c-2.808 73.797 20.221 148.89 67.747 205.91 41.536-60.41 49.675-135.23 59.701-205.91-15.295 6.564-5.65 36.287-12.856 51.714-7.263 42.417-18.126 86.425-46.846 119.85C87.276 139.47 76.177 85.52 68.303 36.99 66.299 25.881 71.733 6.164 59.623.7' fill='%23321'/%3E%3Cpath d='M29.813 473.96c16.371-12.415 12.084-50.413 12.671-56.97 2.26 18.912-3.032 49.809-12.672 56.97m-28.125-8.89c14.591-12.648 18.77-51.603 19.176-56.401-.125 21.085-12.22 37.634-19.176 56.4m407.46-195.74c5.284 14.614 20.096 45.233 17.865 50.205-5.821-16.714-18.354-31.751-17.865-50.205zm54.04-8.82c-7.702 20.695-15.664 68.008-15.682 73.52 3.598-24.851 15.854-48.07 15.682-73.52zm0 108.74c-7.64 11.37-12.351 58.784-10.779 50.624-.01-14.685 3.54-50.94 10.78-50.624m-130.46 104.37c15.041-37.57 13.3-78.836 12.208-118.51 2.166 38.582-.772 77.8-12.723 114.68l-.159 2.722.674 1.104m-25.64 0c9.195-20.502 14.754-69.024 13.508-74.438-.386 24.405-11.825 56.348-13.508 74.439m-13 .14c6.794-17.863 15.204-57.863 13.871-63.41-.455 20.287-12.915 53.445-13.87 63.41m-18.14-60.74c-1.888 12.47-12.319 38.11-10.597 41.749 4.581-13.581 10.465-27.18 10.596-41.75zm-52.18-15.49c2.756 9.821 3.951 35.614 4.405 12.127-.917-4.224-2.681-8.188-4.406-12.127zm38.03-8.08c-6.637 12.853-19.13 42.03-17.134 46.277 3.27-16.254 12.173-30.581 17.133-46.277zM3.458 117.756c2.946 21.853 11.171 42.766 26.502 58.925 6.66 7.553 18.385 31.633 18.094 32.398-5.65-21.947-21.154-38.652-34.15-56.266-5.67-10.936-7.186-23.326-10.447-35.057zm-2.212 65.65c36.193 16.124 44.039 59.517 50.165 94.52 3.689 20.925-2.483-19.737-5.045-27.155-6.643-27.887-20.64-55.284-44.59-72.085l-.53 4.713m0 44.447c30.704 8.06 37.655 43.988 42.985 70.7-1.348-29.552-14.289-62.55-44.222-73.393l1.238 2.693m0 31.24c19.75 16.818 19.491 45.542 24.474 69.053 1.74 9.7 4.272 42.177 3.105 16.44-.796-31.35-2.967-67.35-27.935-89.804l.354 4.31m450.72-155.81c-5.62 13.211 17.79 37.824 2.503 13.644a43.181 43.181 0 0 1-2.503-13.645zm-12.83 33.67c-10.26 16.422-22.254 53.122-22.21 60.582 7.12-15.03 10.903-46.918 24.9-49.09 14.532 9.103 17.871 57.141 16.666 51.488-3.187-21.455-2.389-46.897-19.355-62.98m-12.82-62.62c.12 50.141-30.45 94.584-30.069 144.77.811-39.189 10.364-77.359 24.554-113.71 3.095-10.07 5.384-20.488 5.515-31.063m-32.72 48.48c-8.812 37.158-15.8 74.913-17.692 113.12 3.422-38.05 10.795-75.59 17.692-113.12zm-12.39 3.37c-8.009 34.741-14.601 70.003-15.92 105.71-.523-35.817 6.057-71.397 15.92-105.71zm-74.29 4.04c2.578 55.813 19.974 109.78 22.11 165.64-4.109-55.615-15.701-110.3-22.11-165.64zm-64.12 193.58c9.583 6.139 12.606 47.93 8.61 21.201-2.424-15.433-12.766-23.812-16.128-3.83 1.228-6.196 2.866-12.759 7.517-17.372m-2.65-57.63c13.177 12.644 24.42 48.41 25.573 53.526-4.6-16.078-14.999-44.13-27.038-47.625-8.417 9.21-16.554 45.843-15.857 41.374 2.858-16.524 5.62-34.372 17.321-47.275m40.501-83.9c1.332 32.31 27.18 56.86 31.31 88.477-5.227-31.229-26.427-57.163-31.31-88.477zm-31.84-15.29c-.48 19.808 19.032 56.897 23.023 59.116-13.935-16.646-18.14-38.594-23.023-59.116zm-31.84 94.27c3.924-16.99 17.673-53.722 38.613-30.545 9.486 7.342 21.865 38.62 21.832 36.913-6.466-18.804-19.966-48.205-42.81-45.499-9.132 11.15-14.015 25.343-17.634 39.13m23.62-109.08c-7.287 33.25-20.755 64.63-37.883 93.912-4.8 8.248-7.825 31.783-2.849 10.44 10.971-35.793 35.39-66.724 40.733-104.35m-24.77 14.408c-5.18 21.321-9.545 43.393-23.195 61.262-6.988 7.51-16.379 43.908-9.042 17.014 3.972-20.702 22.754-34.18 25.88-55.235 2.117-7.68 3.773-15.496 6.358-23.042M195.48 153.1c-3.53 31.802-19.022 60.096-35.048 87.114-4.536 7.555-8.946 28.552-3.659 9.062 10.521-33.01 30.792-62.242 38.707-96.176m-69.87-74.74c8.57-11.711 18.495-40.204 17.9-44.876-.585 17.227-15.103 29.082-17.902 44.876M97.922.723c-.279 28.129 10.276 55.733 27.684 77.637-2.573-20.04-23.44-34.174-24.208-55.894-1.494-7.19-2.503-14.467-3.476-21.742m28.564 116.02c14.287-13.137 27.787-52.776 28.437-56.781-4.515 19.3-16.977 52.595-31.789 56.313-10.003-9.971-29.199-54.403-25.015-47.822 7.468 17.155 16.74 33.598 28.368 48.29m0 20.2c17.214-12.057 30.243-50.225 33.201-57.003-5.626 21.206-15.037 50.308-37.019 57.427-8.45-4.757-34.879-56.102-26.946-40.86 7.596 15.09 15.356 31.828 30.762 40.436m-47.49-48.076c6.99 31.433 26.214 58.488 47.76 81.744 30.255-22.558 34.086-63.307 43.137-97.172 5.448-23.9 10.006-48.151 10.726-72.714 2.524 14.714-2.345 35.588-4.088 52.475-4.973 29.99-16.444 58.415-26.488 86.958-7.047 13.566-20.937 46.512-35.62 22.826-19.255-20.357-27.678-47.87-35.427-74.117M68.91 144.555c13.83 47.208 46.02 86.73 58.462 134.46 4.797-41.908 21.86-80.633 39.89-118.27 4.39-9.079 13.641-38.55 5.72-14.638-17.415 46.408-40.082 92.04-42.833 142.44-1.656 11.367-1.908 50.899-2.086 44.656-1.985-44.591-7.994-90.925-33.627-128.79-10.885-18.746-22.703-37.938-25.525-59.865' fill='%23654321'/%3E%3C/svg%3E");
}
